footer.footer
	.footer__top-wrapper
		.container
			.footer__top.top-footer
				.top-footer__contacts
					.top-footer__contacts--loc.top-footer__contacts--item
						img(src="images/footer-loc.svg" alt="Loc" loading="lazy")
						a(href="#")  
							|111024, г. Москва, ул. 
							br
							|Авиамоторная, д.8а, стр.5, 
							br
							|эт.5, пом.I, комн.38.
					.top-footer__contacts--tel.top-footer__contacts--item
						img(src="images/footer-tel.svg" alt="Tel" loading="lazy")
						a(href="tel:4959251060")  +7 (495) 925-10-60
					.top-footer__contacts--email.top-footer__contacts--item 
						img(src="images/footer-email.svg" alt="Mail" loading="lazy")
						a(href="mailto:info@nirit.org")  info@nirit.org
				.top-footer__items 
					.top-footer__item 
						.top-footer__column 
							.top-footer__title Об институте
							ul.top-footer__list 
								li 
									a.top-footer__link(href="#") Контакты
								li 
									a.top-footer__link(href="#") Руководство
								li 
									a.top-footer__link(href="#") Отзывы клиентов
								li 
									a.top-footer__link(href="#") Сертификаты и разрешения
								li 
									a.top-footer__link(href="#") Наши книги
								li 
									a.top-footer__link(href="#") Наши статьи
					.top-footer__item.top-footer__item-min-mobile 
						.top-footer__column 
							.top-footer__title.top-footer__title-first
								span Услуги
								img(src="images/footer-arrow.svg" alt="arrow" loading="lazy")
							ul.top-footer__list.top-footer__list-min-mobile.top-footer__list-first
								li 
									a.top-footer__link(href="#") Строительство
								li 
									a.top-footer__link(href="#") Проектирование
								li 
									a.top-footer__link(href="#") Обслуживание
								li 
									a.top-footer__link(href="#") Консалтинг
								li 
									a.top-footer__link(href="#") Ремонт оборудования
					.top-footer__item.top-footer__item-min-mobile 
						.top-footer__column 
							.top-footer__title.top-footer__title-second
								span Оборудование
								img(src="images/footer-arrow.svg" alt="alt" loading="lazy")
							ul.top-footer__list.top-footer__list-min-mobile.top-footer__list-second 
								li 
									a.top-footer__link(href="#") Радиомодемы Интеграл
								li 
									a.top-footer__link(href="#") Маквил
					.top-footer__item.top-footer__item-min-mobile 
						.top-footer__column 
							.top-footer__title.top-footer__title-third 
								span Научная деятельность
								img(src="images/footer-arrow.svg" alt="alt" loading="lazy")
							ul.top-footer__list.top-footer__list-min-mobile.top-footer__list-third 
								li 
									a.top-footer__link(href="#") Консорциум
								li 
									a.top-footer__link(href="#") Разработки
	.footer__text-wrapper
		.container
			.footer__text 
				p Данный информационный материал составлен исключительно в информационных целях и не является офертой, изложением существенных условий договоров или иным аналогичным по содержанию документом.
				p ЗАО «НИРИТ» ни при каких обстоятельствах не несет какой-либо ответственности за решения, действия и иные последствия юридического характера, которые могли бы быть совершены/наступить вследствие ознакомления с данным информационным материалом.
	.footer__bottom-wrapper
		.container
			.footer__bottom 
				.footer__bottom-left
					span © 2022 ЗАО «НИРИТ»
				.footer__bottom-center
					a.footer__bottom--link(href="") Политика конфиденциальности
					a.footer__bottom--link(href="") Пользовательское соглашение
				.footer__bottom-right
					a.footer__bottom--link(href="") Карта сайта


