.header {
	position: relative;
	z-index: 999;
	padding-top: 24px;
	@media (max-width: 992px){
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: box-shadow 0.5s ease 0s;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 2.474vw;
		padding-bottom: 2.344vw;
		background-color: #ffffff;
	}
	@media (max-width: 460px){
		padding-top: 16px;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 460px){
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
	&__top.active {
		@media (max-width: 460px) {
			.header__tel {
				transition: margin-top 1s ease 0s;
				overflow: hidden;
				margin-top: -100%;
			}
		}
	}

		&__burger {
			display: none;
			@media (max-width: 992px){
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-between;
				background: #393587;
				border-radius: 3px;
				width: 43px;
				height: 43px;
				padding: 10px 5.5px;
				span {
					width: 100%;
					height: 3px;
					background-color: #ffffff;
					border-radius: 1.302vw;
					&:nth-child(3){
						width: 60%;
					}
				}
			}
			@media (max-width: 768px){
				width: 38px;
				height: 38px;
			}
		}

		&__logo {
			width: 270px;
			img {
				width: 270px;
			}
			@media (max-width: 768px){
				width: 33.594vw;
				img {
					width: 33.594vw;
				}
			}
			@media (max-width: 460px){
				width: 72.500vw;
				img {
					width: 72.500vw;
				}
			}
		}
	
		&__tel {
			display: flex;
			align-items: center;
			gap: 25px;
			font-family: 'HelveticaNeueCyr';
			font-style: normal;
			font-weight: 550;
			font-size: 17px;
			line-height: 100%;
			color: #333333;
			transition: margin-top 0.3s ease 0s;
			@media (max-width: 768px){
				font-size: 2.214vw;
				gap: 3.255vw;
			}
			@media (max-width: 460px){
				flex-direction: row;
				flex: 1 1 100%;
				font-size: 4.375vw;
				gap: 0;
				justify-content: space-between;
				margin-top: 5.313vw;
			}
			a {
				transition: all 0.3s ease 0s;
				&:hover{
					opacity: 0.7;
				}
			}
			&--order {
				padding: 13px 15px;
				border: 2px solid #393587;
				border-radius: 3px;
				transition: all 0.3s ease 0s;
				@media (max-width: 768px){
					padding: 1.693vw 1.953vw;
				}
				@media (max-width: 460px){
					padding: 4.063vw 4.688vw;
				}
				&:hover {
					opacity: 0.7;
				}
			}
		}

	&__bottom {
		@media (max-width: 992px){
			display: none;
		}
		margin-top: 18px;
		background: #393587;
		border-radius: 3px;
		max-width: 100%;
	}
}
.header.active {
	@media (max-width: 992px){
		box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
	}
}

.menu-header {
	&__list {
		display: flex;
		justify-content: center;
		gap: 25px;
	}
		&__item {
			cursor: pointer;
			position: relative;
		}
		&__item:hover &__link {
			color: #B3AFF8;
			img {
				transform: rotate(180deg);
			}
		}
		&__item:hover &__drop {
			transform: translate(0, 0%);
			opacity: 1;
			transition: opacity 0.3s ease 0s, transform 0s ease 0s;
		}

			&__link {
				transition: all 0.3s ease 0s;
				padding: 15px 0;
				display: flex;
				align-items: center;
				font-family: 'HelveticaNeueCyr';
				font-style: normal;
				font-weight: 550;
				font-size: 17px;
				line-height: 100%;
				color: #FFFFFF;
				@media (max-width: 1100px){
					font-size: 12px;
					padding: 7px 0;
				}
				@media (max-width: 992px){
					font-size: 10px;
				}
				img {
					margin-left: 3px;
					width: 6px;
					height: 3px;
				}
			}

			&__drop {
				position: absolute;
				top: calc(100% - 3px);
				left: 0;
				padding-top: 6px;
				opacity: 0;
				transform: translate(0, -200%);
				transition: opacity 0.3s ease 0s, transform 0.3s ease 0.7s;

				&--inner {
					width: 284px;
					padding: 20px 31px 41px 20px;
					background: #393587;
					border-radius: 3px;
					@media (max-width: 1100px){
						width: 250px;
						padding: 20px;
					}
				}

					&--list {
						display: flex;
						flex-direction: column;
						gap: 30px;
					}

						&--item:hover &--link {
							color: #B3AFF8;
						}
					
							&--link {
								font-family: 'HelveticaNeueCyr';
								font-style: normal;
								font-weight: 550;
								font-size: 17px;
								line-height: 118.3%;
								color: #FFFFFF;
								transition: all 0.3s ease 0s;
								@media (max-width: 1100px) {
									font-size: 14px;
								}
							
								@media (max-width: 992px) {
									font-size: 10px;
								}
							}
			}
}
.header__fixed {
	position: fixed;
	z-index: 999;
	top: -100%;
	left: 0;
	width: 100%;
	opacity: 0;
	background: #FFFFFF;
	box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
	padding-top: 21px;
	padding-bottom: 22px;
	transition: opacity 0.5s ease 0s, top 0s ease 0.5s;
	@media (max-width: 1100px){
		padding: 2.016vw 0;
	}
	@media (max-width: 992px){
		display: none;
	}
	&--menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 1100px){
			justify-content: flex-start;
		}
		.menu-header__item {
			.menu-header__link {
				@media (max-width: 1100px){
					font-size: 1.545vw;
				}
				color: #333333;
			}
		}
	}
	&--item-none {
		display: none;
	}
	&--logo {
		img {
			width: 55px;
			height: 45px;
		}
	}
	&--tel {
		font-family: 'HelveticaNeueCyr';
		font-style: normal;
		font-weight: 550;
		font-size: 17px;
		line-height: 100%;
		color: #393587;
		@media (max-width: 1100px){
			display: none;
		}
	}

	.menu-header__drop {
		padding-top: 30px;
		cursor: auto;
	}
}
.header__fixed.active {
	transition: opacity 0.5s ease 0s;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 1;
}

.mobile-header-menu {
	transition: all 0.5s ease 0s;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: #393587;
	&__container {
		overflow-x: hidden;
		height: calc(100% - 46px);
		width: 100%;
	}
	&__close {
		position: relative;
		margin-top: 23px;
		margin-left: 24px;
		width: 27.9px;
		height: 27.9px;
		@media (max-width: 460px){
			margin-left: 16px;
		}
		&::before,&::after{
			content:'';
			position: absolute;
			top: 50%;
			width: 100%;
			height: 3.6px;
			background-color: #ffffff;
			border-radius: 9px;
		}
		&::before{
			left: 0;
			transform: rotate(-45deg);
		}
		&::after{
			right: 0;
			transform: rotate(45deg);
		}
	}
	
	&__list {
		margin-top: 40px;
		overflow-x: auto;
		display: flex;
		flex-direction: column;
	}
	
		&__item {
			&:not(:first-child) {
				margin-top: 25px;
			}
			&:last-child{
				padding: 46px 0;
				padding-top: 0;
			}
		}
		

			&__link {
				display: flex;
				align-items: center;
				gap: 3px;
				font-family: 'HelveticaNeueCyr';
				font-style: normal;
				font-weight: 550;
				font-size: 17px;
				line-height: 100%;
				color: #FFFFFF;
				img {
					transition: all 0.7s ease 0s;
					display: block;
					width: 6px;
					height: 3px;
				}
			}
	
			&__list-inner {
				margin-top: 6px;
				height: 0;
				opacity: 0;
				overflow: hidden;
				transition: all 0.3s ease 0s;
			}
			&__list-inner.active {
				height: 100%;
				opacity: 1;
				transition: all 0.3s ease 0s;
			}
	
				&__item-inner {
					&:not(:first-child) {
						margin-top: 9px;
					}
				}
	
					&__link-inner {
						font-family: 'HelveticaNeueCyr';
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						line-height: 193%;
						color: #A39FFE;
					}
}
.mobile-header-menu.active {
	left: 0;
}


.header__popap-back {
	cursor: pointer;
	background: #FFFFFF;
	opacity: 0.5;
	position: fixed;
	opacity: 0;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.3s ease 0s, top 0s ease 0.3s;
}
.header__popap-back.active {
	z-index: 998;
	top: 0;
	opacity: 0.5;
	transition: opacity 0.3s ease 0s, top 0s ease 0s;
}

.order-popap-header {
	position: fixed;
	opacity: 0;
	top: -150%;
	left: 50%;
	width: 396px;
	transform: translate(-50%, -50%);
	padding: 32px 48px 46px;
	background: #393587;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
	font-family: 'HelveticaNeueCyr';
	font-style: normal;
	transition: opacity 0.7s ease 0s, top 0s ease 0.7s;
	@media (max-width: 768px){
		padding: 4.167vw 6.250vw 5.990vw;
	}
	@media (max-width: 460px){
		padding: 10vw 3.438vw 14.375vw;
		width: 90.625vw;
	}
	&__close {
		cursor: pointer;
		position: absolute;
		top: 9px;
		right: 9px;
		width: 16px;
		height: 16px;
		@media (max-width: 460px){
			width: 5vw;
			height: 5vw;
		}
		&::before,&::after{
			content:'';
			position: absolute;
			top: 50%;
			width: 100%;
			height: 2px;
			background-color: #ffffff;
		}
		&::before{
			left: 0;
			transform: rotate(45deg);
		}
		&::after{
			right: 0;
			transform: rotate(-45deg);
		}
	}
	
	
		&__title {
			font-weight: 550;
			font-size: 25px;
			line-height: 148%;
			text-transform: uppercase;
			color: #FFFFFF;
			@media (max-width: 460px){
				font-size: 7.813vw;
			}
		}
	
		&__text {
			margin-top: 10px;
			font-weight: 550;
			font-size: 13px;
			line-height: 135.4%;
			letter-spacing: 0.03em;
			color: #FFFFFF;
			@media (max-width: 460px){
				margin-top: 3.125vw;
				font-size: 4.063vw;
			}
		}
	
		&__form {
			margin-top: 23px;
			display: flex;
			flex-direction: column;
			@media (max-width: 460px){
				margin-top: 7.188vw;
			}
			&--input-wrapper {
				position: relative;
				&:nth-child(2){
					margin-top: 20px;
				}
				span {
					cursor: text;
				}
				>span {
					pointer-events: none;
					position: absolute;
					top: 50%;
					left: 19px;
					transform: translate(0, -50%);
					font-weight: 550;
					font-size: 13px;
					line-height: 162.9%;
					color: #FFFFFF;
					opacity: 1;
					transition: all 0.3s ease 0s;
					@media (max-width: 460px){
						font-size: 4.063vw;
						left: 5.938vw;
					}
					span {
						color: red;
					}
				}
			}
				&--input {
					width: 100%;
					padding: 10px 19px 9px;
					font-weight: 550;
					font-size: 13px;
					line-height: 162.9%;
					color: #FFFFFF;
					background: #312E74;
					border-radius: 3px;
					@media (max-width: 460px){
						padding: 3.125vw 5.938vw 2.813vw;
					}
					&:nth-child(2){
						margin-top: 21px;
					}
				}
				&--input.border-r {
					border: 1px solid #FF0F19;
					margin: -1px;
				}
				&--input.border {
					border: 1px solid #7772CA;
					margin: -1px;
				}
				&--input-placeholder.focus {
					opacity: 0;
				}
			
			&--button {
				margin-top: 20px;
				padding-top: 10px;
				padding-bottom: 10px;
				font-weight: 700;
				font-size: 15px;
				line-height: 100%;
				text-align: center;
				color: #FFFFFF;
				background: #E42129;
				border-radius: 3px;
				@media (max-width: 460px){
					padding-top: 4.688vw;
					padding-bottom: 3.125vw;
					font-size: 4.688vw;
					margin-top: 6.250vw;
				}
			}
		}
		&__footer {
			margin-top: 20px;
			display: flex;
			align-items: flex-start;
			width: 100%;
			@media (max-width: 460px){
				margin-top: 6.250vw;
			}
			&--checkbox-wrapper {
				position: relative;
				top: 4px;
			}
			&--checkbox-input {
				position: absolute;
				z-index: -1;
				opacity: 0;
			}
			
			&--checkbox-input+label {
				cursor: pointer;
				display: inline-block;
				width: 12px;
				height: 12px;
				background: #7772CA;
				border-radius: 3px;
				@media (max-width: 460px){
					width: 3.750vw;
					height: 3.750vw;
				}
				&::before{
					transition: all 0.3s ease 0s;
				}
			}
			&--checkbox-input:checked+label {
				position: relative;
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 8px;
					height: 6px;
					transform: translate(-50%, -50%);
					background: url('../images/arrow-agree.svg') center / cover no-repeat;
				}
			}
			
			span {
				margin-left: 9px;
				font-weight: 550;
				font-size: 13px;
				line-height: 130.4%;
				letter-spacing: 0.03em;
				color: #A3A0D2;
				@media (max-width: 460px){
					font-size: 4.063vw;
					margin-left: 2.813vw;
				}
			}
		}
}
.order-popap-header.active {
	z-index: 999;
	opacity: 1;
	top: 50%;
	transition: opacity 0.7s ease 0s, top 0s ease 0s;
}